@font-face {
    font-family: 'Quantum';
    src: url('fonts/Quantum.woff2') format('woff2'),
         url('fonts/Quantum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'science';
    src: url('fonts/scientifica.woff2') format('woff2'),
         url('fonts/scientifica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "science", 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url("PCBack.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(0, 0, 0);
}

h1 {
    font-family: "Quantum";
    text-align: center;
    font-size: 70px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
    text-align: center;
    color: #e0e0e0;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 15px;
}

h4 {
    text-align: center;
    margin-bottom: 10px;
    color: #fdfdfd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    font-size: 30px;
}

#join-room {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
    color: #fdfdfd;
    font-size: 30px;
    transition: background-color, box-shadow 0.5s ease;
}
#join-room:hover {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow : 0 20px 40px rgba(0, 0, 0, 0.5);
}

#join-room input {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #0051ff;
    border-radius: 15px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

#join-room button {
    padding: 10px 30px;
    background-color: #0400ff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: font-size 0.3s ease;
    font-family: "science";
    font-size: 25px;
}

#join-room button:hover {
    background-color: #0502a8;
    font-size: 30px;
}

#chat-area {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

#messages {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 275px;
    color: #e0e0e0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#messages::-webkit-scrollbar {
    width: 8px;
}

#messages::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

#messages::-webkit-scrollbar-thumb {
    background: #0a0c9e;
    border-radius: 15px;
}

#messages::-webkit-scrollbar-thumb:hover {
    background: #002b58;
}

#messages li {
    margin-bottom: 8px;
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

#user-list {
    list-style-type: none;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    max-height: 50px;
    max-width: 150px;
    overflow-y: auto;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    margin:10px auto;
}

#message-input-area {
    display: flex;
}

#message-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    width: 469px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    
}

#message-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

#send {
    padding: 10px 15px;
    background-color: #0400ff;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: normal;
    text-transform: uppercase;
    transition: background-color, font-size 0.3s ease;
    font-family: "science";
    font-size: 15px;
    width: 85px;
}

#send:hover {
    background-color: #0502a8;
    font-size: 18px;
}

#market-cap {
    text-align: center;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 45px;
}

#logo {
    width: 600px;
    height: auto;
    /* display: block; */
    margin: 0px auto; /* Reduced top/bottom margin */
}
#pic{
    width: 350px;
    height: auto;
    /* display: block; */
    margin: 0px auto; /* Reduced top/bottom margin */
}


@media (max-width: 768px) {
    #logo {
        width: 150px;
        margin: 5px auto; /* Reduced top/bottom margin */
    }
    #pic {
        width: 70px;
        margin: 5px auto; /* Reduced top/bottom margin */
    }
    #body {
        background-image: url("MobileBack.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

#social-links {
    text-align: center;
    margin-top: 10px;
}

#X {
    width: 50px;
    margin: 30px 0px;
    transition: width 0.3s ease;
}

#X:hover{
    width: 65px;
}

iframe {
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
    /* Add any other desired styles */
    margin-top: 20px;
    overflow: hidden;
}

