@font-face {
    font-family: 'Quantum';
    src: url('fonts/Quantum.woff2') format('woff2'),
         url('fonts/Quantum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glitch';
    src: url('fonts/GlitchGoblin.woff2') format('woff2'),
         url('fonts/GlitchGoblin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Glitch", 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url("https://images.stockcake.com/public/4/b/2/4b293191-cf7d-4b7f-b5e5-2d3eb4a8c670_large/futuristic-city-visualization-stockcake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
}

h1 {
    font-family: "Quantum";
    text-align: center;
    font-size: 70px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
    text-align: center;
    color: #e0e0e0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 8px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #fdfdfd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

#join-room {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
}

#join-room input {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #0051ff;
    border-radius: 4px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

#join-room button {
    padding: 10px 15px;
    background-color: #0400ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#join-room button:hover {
    background-color: #0502a8;
}

#chat-area {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

#messages {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 300px;
    color: #e0e0e0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#messages::-webkit-scrollbar {
    width: 8px;
}

#messages::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

#messages::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 4px;
}

#messages::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

#messages li {
    margin-bottom: 8px;
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#user-list {
    list-style-type: none;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    max-height: 50px;
    overflow-y: auto;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
}

#message-input-area {
    display: flex;
    margin-top: 10px;
}

#message-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

#message-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

#send {
    padding: 10px 15px;
    background-color: #0400ff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: normal;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

#send:hover {
    background-color: #0502a8;
}

#market-cap {
    text-align: center;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 30px;
}

#logo {
    width: 500px;
    height: auto;
    /* display: block; */
    margin: 0px auto; /* Reduced top/bottom margin */
}

@media (max-width: 768px) {
    #logo {
        width: 150px;
        margin: 5px auto; /* Reduced top/bottom margin */
    }
}